	/*slider*/

				#c-slider {
					margin:auto;
					width: 100%;
					max-width: 100%;
					position: relative;
					overflow: hidden;
				}

				#slider {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					width: 300%; /*depende de la cantida de imagenes: #img * 100% */

				}

				#slider section {
					width: 100%;
					height: 100%;
					margin: 0;
				}

				#slider img {
					display: inline-block;
					display: -webkit-inline-block;
					display: -moz-inline-block;
					display: -ms-inline-block;
					display: -o-inline-block;
					width: 100%;
					height:100%;

				}
        
    /*botones slider*/
				#btn-prev, #btn-next {
					width: 60px;
					height: 60px;
					background: #fff;
					color: #0a0a0a;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					line-height: 60px;
					font-size:2.5em;
					text-align: center;
					border-radius: 50%;
					font-family: arial;
					cursor: pointer;
					margin:auto;
					opacity: 0.70;

				}

				#btn-prev:hover, #btn-next:hover {
					opacity: 0.80;

				}

				#btn-prev{
					left: 10px;

				}
				#btn-next{
					right: 10px;
				}
